/*
* 작성자 곽수경
* 작성 일자: 11.03
* 수정 일자: 
* 기능: 글 1개 화면 css 
*/

* {
  font-family: 'Pretendard';
}

div {
  border-style: solid;
  border-color: white;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100vw; 
  height: 100vh;
  background-color: white;
}

/*-------------------------- header---------------------------- */
.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.sidebars{
  width: 33.3vw;
}

img.menu {
  margin: 15px 15px;
  width: 40px;
  height: 30px;
}

input#menuicon {
  display: none;
}

.sidebar {
  width: 260px;
  height: 60%;
  background-color: rgba(223, 227, 231, 0.7);
  position: fixed;
  top: 60px;
  left: -300px;
  z-index: index 1;
  transition: all .35s;
  border-radius: 2px;
}

div.sidebar>ul>li {
  margin-top: 60px;
  margin-left: 50px;
  line-height: 50px;
}

div.sidebar>ul>li>a {
  font-size: 17px;
}

input#menuicon:checked+label+div {
  left: -10px;
}

.home{
  width: 33.3vw;
  /* background-color: red; */
}

img.home {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.logo {
  text-align: center;
  width: 33.4vw;
  /* background-color: orange; */
}

img.logo {
  width: 150px;
  height: 50px;
}

.nav {
  width: 33.3vw; 
  display: flex;
  justify-content: flex-end;
  /* calc(1920px - 1500px - 100px); */
  font-family: 'Pretendard';
  font-size: 20px;
  /* background-color: yellow; */
  line-height: 60px;
}

.nav>li {
  margin-left: 10px;
  margin-right: 20px;
}

.nav>li>a {
  color: black;
}
/*--------------------------header---------------------------- */

/*--------------------------section---------------------------- */
/*--------------------------banner---------------------------- */
.banner {
  display: flex;
  height: 200px;
  background-image: url(../../img/main_bg_new.jpg);
}

.banner>.nothing {
  width: 27vw;
}

.something {
  width: 46vw;
}

.title {
  padding-top: 70px;
  font-size: 30px;
  font-weight: 700;
}

.day {
  text-align: center;
  padding-top: 10px;
    text-align: right;

}
/*--------------------------banner---------------------------- */
/*--------------------------content---------------------------- */
.content {
  display: flex;
}
/* .content> */
.nothing {
  width: 30vw;
}

.article {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 40vw;
  font-family: 'Pretendard';
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height:30px;
}
/*--------------------------content---------------------------- */
/*--------------------------section---------------------------- */

/*--------------------------footer---------------------------- */

.footer {
  display: flex;
  height: 300px;
}

/* .footer>.nothing {
  width: 25vw;
} */

.writer {
  display: flex;
  width: 50vw;
  border-top: 1px solid gray;
}

.w-nothing {
  width: 5vw;
}

.writer-box {
  display: flex;
  justify-content: left;
  width: 40vw;
  padding-top: 50px;
}

.img>a>img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.intro {
  margin-left: 20px;
}

.id {
  margin-top: 5px;
  font-size: 17px;
}

.who {
  margin-top: 10px;
  font-size: 15px;
}
/*--------------------------footer---------------------------- */

