 /* 
* 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자: 11.10
* 기능: 전체 글 화면 css  
*/


*{
  font-family: 'Pretendard';
  /* font-family: 'Noto Sans KR', sans-serif; */
}

span {
  font-family: 'Pretendard';
}

a {
  font-family: 'Pretendard';
  text-decoration: none;
  color: black;
}

div {
  font-family: 'Pretendard';
}

/*-------------------------- header---------------------------- */
.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgb(103, 103, 103);
}

.home{
  width: 33.3vw;
  /* background-color: red; */
}

img.home {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.logo {
  text-align: center;
  width: 33.4vw;
  /* background-color: orange; */
}

img.logo {
  width: 150px;
  height: 50px;
}

.nothing {
  width: 33.3vw;
  /* background-color: yellow; */
}
/*--------------------------header---------------------------- */

/*--------------------------section---------------------------- */
.section{
  display: flex;
  justify-content: center;
} 

.articles{
  display: flex;
  flex-direction: column;
  width: 800px;
}

.searching {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: -20px;
}

.searching>form {
  display: inline;
}

.searching>form>input {
  width: 200px;
  font-size: 20px;
  border-color: transparent;
  border-bottom: 1px solid black;
}

.searching>form>input:focus {
  outline: none;
}

.searching>img {
  width: 20px;
}

.article{
  display: flex;
  text-align: center;
  padding-top: 20px;
  /* width: 60vw; */
  height: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  /* background-color: green; */
}

.image img {
  width: 100px;
  height: 100px;
  /* background-color: yellow; */
}

.notimage{
  display: block;
  text-align: left;
  width: 700px;
  /* background-color: red; */
}

.title{
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.else{
  display: flex;
  /* background-color: blue; */
}

.image{
  width: 120px;
  height: 120px;
}

.icon {
  width: 20px;
  height: 20px;
}

.numOf {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 7px;
  font-size: 13px;
}

.paging{
    padding-top: 20px;
    margin : auto;
    text-align: center;
    font-size: 30px;
}
/*--------------------------section---------------------------- */

#article_search_btn{
    margin-bottom : 40px;
    color: white;
    background-color: white;
    border: 0;
}
