<!-- 
  * 작성자 곽수경
* 작성 일자: 11.03
* 수정 일자: 
* 기능: 글 1개 화면
-->

<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/manager/passOrFail.css">
    <title>Better Us Pass or Fail</title>
</head>
<body>
<div class="header">
    <div class="home">
        <a href="/"><img class="home" src="/img/home.png" alt=" "></a>
    </div>
    <div class="logo">
        <img class="logo" src="/img/logo_B_new.png" alt=" ">
    </div>
    <ul class="nav">
        <li><a th:href="@{/myPage/admin/pass/{memberId} (memberId=${article.memberId})}">합격</a></li>
        <li><a th:href="@{/myPage/admin/fail/{memberId} (memberId=${article.memberId})}">불합격</a></li>
    </ul>
</div>
<div class="section">
    <div class="banner">
        <div class="nothing"></div>
        <div class="something">
            <div class="title" th:text="${article.title}"></div>
            <div class="day" th:text="${article.createDate}"></div>
        </div>
        <div class="nothing"></div>
    </div>
    <div class="content">
        <div class="nothing"></div>
        <span class="article">
           <h1><span th:text="${article.subTitle}"></span></h1> <!-- 글씨 크기 수정-->
          <div th:text="${article.contents}"></div>
        </span>
        <div class="nothing"></div>
    </div>
    <div class="footer">
        <div class="nothing"></div>
        <div class="writer">
            <div class="img">
                <img src="/img/note_s.jpg">
            </div>
            <div class="intro">
                <div class="id" th:text="${article.nickName}"></div>
                <div class="who" th:text="${article.user_info}"></div>
            </div>
        </div>
        <div class="nothing"></div>
    </div>
</div>
</body>
</html>