/* 
* 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자: 10.29
* 기능: 로그인 화면 css  
*/

* {
  font-family: "Pretendard";
  /* font-family: 'Noto Sans KR', sans-serif; */
}

body {
  /* background-image: url('../img/login_bg_new.jpg'); */
  /* width: 100vw; */
  height: 100vh;
  background-color: white;
}

span {
  font-family: "Pretendard";
}

a {
  font-family: "Pretendard";
  text-decoration: none;
  color: black;
}

/*-------------------------- top ---------------------------- */
.container {
  width: 100%;
  height: 100%;
}
.header-logo {
  width: 124px;
  height: 30px;
  margin: 50px auto 0;
}
img.logo {
  width: 124px;
  height: 30px;
}

/*-------------------------- artcle---------------------------- */
.section {
  width: 580px;
  height: 500px;
  margin: 40px auto 42px;
  padding: 0 69px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 18px;
  box-sizing: border-box;
}

.title {
  font-size: 50px;
  margin-top: 120px;
  margin-bottom: 80px;
}

div.input {
  padding: 55px 0 50px;
}

input.inputbox {
  width: 100%;
  height: 100%;
  padding: 10px 0 8px;
  border: 0;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: -apple-system, Roboto, NotoSans, AppleSDGothicNeo, Malgun Gothic,
    맑은 고딕, 돋움, dotum, sans-serif;
}
input.inputbox::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input.inputbox:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 51px;
  color: white;
  border: 0;
}
button.login-id {
  background-color: #303f9f;
  margin: 50px 0 20px;
}
button.login-email {
  background-color: #758ecd;
}
.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #828282;
  font-size: 12px;
  margin: 8px 0;
}
.line .line_txt {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #828282;
  font-size: 12px;
  margin: 8px 0;
}
.line .line_txt::before,
.line .line_txt::after {
  content: "";
  flex-grow: 1;
  background-color: #828282;
  height: 1px;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
}
.line .line_txt::before {
  margin-right: 15px;
}
.line .line_txt::after {
  margin-left: 15px;
}

.else {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 30px;
}
.else .forget {
  display: flex;
}
