 /* 
* 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자: 10.29
* 기능: 로그인 화면 css  
*/

* {
  font-family: 'Pretendard';
  /* font-family: 'Noto Sans KR', sans-serif; */
}

body {
  /* background-image: url('../img/login_bg_new.jpg'); */
  /* width: 100vw; */
  height: 1000px;
  background-color: white;

}

span {
  font-family: 'Pretendard';
}

a {
  font-family: 'Pretendard';
  text-decoration: none;
  color: black;
}

/*-------------------------- header---------------------------- */
.header {
  display: flex;
  height: 60px;
  background-color: white;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.home{
  width: 33.3vw;
  /* background-color: red; */
}

img.home {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.logo {
  text-align: center;
  width: 33.4vw;
  /* background-color: orange; */
}

img.logo {
  width: 150px;
  height: 50px;
}

.nothing {
  width: 33.3vw;
  /* background-color: yellow; */
}
/*-------------------------- header---------------------------- */

/*-------------------------- section---------------------------- */
.section {
  /* width: 100vw; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.title {
  font-size: 50px;
  margin-top: 120px;
  margin-bottom: 80px;
}

div.input {
  font-size: 30px;
  margin-top: 10px;
}

.email-caption {
  text-align: center;
  margin-right: 435px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.pw-caption {
  text-align: center;
  margin-right: 410px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}


input.inputbox {
  width: 500px;
  height: 45px;
  font-size: 30px;
  border-radius: 10px;
}

.login-button {
  margin-top: 80px;
}

a>button {
  width: 500px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 60px;
  color: white;
  border-color: transparent;
  background-color: rgb(170, 170, 170);
}

.else {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 30px;
}
/*-------------------------- section---------------------------- */
