 /* 
* 작성자 곽수경
* 작성 일자: 11.01
* 수정 일자: 
* 기능: 회원가입 화면 css  
*/

* {
  font-family: 'Pretendard';
  /* font-family: 'Noto Sans KR', sans-serif; */
}

body {
  /* background-image: url('../img/login_bg_new.jpg'); */
  width: 100vw;
  height: 1000px;
}

span {
  font-family: 'Pretendard';
}

a {
  font-family: 'Pretendard';
  text-decoration: none;
  color: black;
}

/*-------------------------- header ---------------------------- */
.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgb(103, 103, 103);
  margin-bottom: 30px;
}

.home{
  width: 33.3vw;
  /* background-color: red; */
}

img.home {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.logo {
  text-align: center;
  width: 33.4vw;
  /* background-color: orange; */
}

img.logo {
  width: 150px;
  height: 50px;
}

.nothing {
  width: 33.3vw;
  /* background-color: yellow; */
}
/*-------------------------- header---------------------------- */
/*-------------------------- section---------------------------- */

.section {
  /* width: 100vw; */
  height: 90vh;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* text-align: center; */
}
/*-------------------------- section(left)---------------------------- */
.left {
  width: 300px;
}
/*-------------------------- section(left)---------------------------- */

/*-------------------------- section(center)---------------------------- */
.center {
  width: 600px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.title {
  font-size: 50px;
  margin-top: 50px;
  /* margin-bottom: 50px; */
}

div.input {
  font-size: 30px;
}

.email-caption {
  text-align: center;
  margin-right: 435px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.autho-caption {
  text-align: center;
  margin-right: 420px;
  font-size: 15px;
  font-weight: 550;
  margin-top: 20px;
  margin-bottom: 10px;
}

.autho-caption + input {
  width: 500px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
}

.nickname {
  text-align: center;
  margin-right: 435px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.pw-caption {
  text-align: center;
  margin-right: 410px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.pwcheck-caption {
  text-align: center;
  margin-right: 360px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 10px;
}


input.inputbox {
  width: 500px;
  height: 45px;
  font-size: 30px;
  border-radius: 10px;
}



.login-button {
  margin-top: 80px;
  margin-bottom: 200px;
}

.login-button>button {
  width: 500px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  color: white;
  border-color: transparent;
  background-color: rgb(170, 170, 170);
}
/*-------------------------- section(center)---------------------------- */
/*-------------------------- section(right)---------------------------- */
.right  {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.button_area {
  text-align: left;
}

.email-button{
  margin-top: 177px;
}

.email-button>button {

  width: 100px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  border-color: transparent;
  background-color: rgb(170, 170, 170);
}

.nickname-button{
    margin-top: 170px;
}

.nickname-button>button {

  width: 100px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  border-color: transparent;
  background-color: rgb(170, 170, 170);
}



/*-------------------------- section(right)---------------------------- */
