 /* 
* 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자
* 기능: 전체 글 화면 css  
*/


*{
  font-family: 'Pretendard';
  /* font-family: 'Noto Sans KR', sans-serif; */
}

span {
  font-family: 'Pretendard';
}

a {
  font-family: 'Pretendard';
}

.intro_bg{
  /* background-image: url('../imgies/login_bg.jpg'); */
  width: 1920px;
  height: 1282px;
}

.header { 
  display: flex;
  height: 80px;
  border-bottom: 3px solid rgb(103, 103, 103);
}

.logo{
  width: 1820px;
  height: 80px;
  /* background-color: red; */
}

img.home {
  margin: 20px 25px; 
  width: 40px;
  height: 40px;
}

img.logo {
  margin-top: 5px;
  margin-left: 775px; 
  width: 275px;
  height: 60px;
}

.content{
  /* display: flex; */
  width: 1000px;
  margin-left: 460px;
}

.searching {
  margin-top: 50px;
}

.searching > form > input{
  border: none;
  width: 250px;
  height: 40px;
  background: (0,0,0,0);
  padding-left: 10px;
  border-bottom: 2px solid black;
}

.searching > form > input:focus{
   outline: none;
}


img.search {
  width: 30px;
  height: 30px;
}

button.search {
  border: none;
  background-color: white;
}

