<!-- 
  * 작성자 곽수경
* 작성 일자: 10.29
* 수정 일자: 
* 기능: 글쓰기 수정 화면
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/writing/writing(correction).css">
    <title>Better Us Writing(correction)</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="#"><img class="home" src="../../static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <img class="logo" src="../../static/img/logo_W_new.png" alt=" ">
      </div>
      <ul class="nav">
        <li><a href="myPage/{articleId}/delete">수정</a></li>
        <li><a href="myPage/{articleId}/edit">삭제</a></li>
      </ul>
    </div>
    <div class="section">
      <div class="background-space">
        <div class="writing-space">
          <form>
            <input class="title" type="text" placeholder="제목을 입력해주세요">
            <input class="subtitle" type="text" placeholder="소제목을 입력해주세요.">
          </form>
          <hr/>
          <form>
          <textarea class="content" cols="30" rows="20" placeholder="내용을 입력해주세요"></textarea>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>