<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../resources/static/css/mail.css">
    <title>Better Us Mail</title>
  </head>
  <body>
    <div class="section">
      <div class="left"></div>
      <div class="center">
          <div class="title">Better&nbsp;&nbsp;US</div>
          <div class="explain"><brwon>메일인증</brwon> 안내입니다.<br/><br/>BetterUs를 이용해주셔서 진심으로 감사드립니다.<br/><br/>아래 코드를 회원가입 창으로 돌아가 입력해주세요.<br/><br/>감사합니다.</div>
          <div class="email-button">
            <button type="submit">메일 인증 코드입니다.</button>
            <div style="font-size:130%" th:text="${code}"> </div>

          </div>
      </div>
      </div>
    </div>
  </body>
</html>