<!-- 
  * 작성자 곽수경
* 작성 일자: 11.01
* 수정 일자
* 기능: 비밀번호 찾기 화면 
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/login/findpassword.css">
    <title>Better Us Findpassword</title>
  </head>
  <body>
    <div class="section">
      <div class="left"></div>
      <div class="center">
          <div class="title">Better&nbsp;&nbsp;US</div>
          <div class="explain">비밀번호를 잊어버리셨나요?<br/><br/>Better&nbsp;Us에 가입하신 이메일을 정확히 입력해주세요.<br/><br/>이메일을 통해 임시 비밀번호를 전송해드립니다.</div>
          <div class="input">
            <form>
              <input class="inputbox" type="email">
            </form>
          </div>
          <div class="email-button">
            <a href="mail/sendTempPassword"><button type="submit">임시&nbsp;비밀번호&nbsp;전송</button></a>
          </div>
      </div>
      <div class="right">
        <a href="#이전페이지"><img src="../../static/img/X.png" alt="X"></a>
      </div>
      </div>
    </div>
  </body>