<!-- 
  * 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자
* 기능: 로그인 화면 
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/login/login.css">
    <title>Better Us Login</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="/"><img class="home" src="../../static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <img class="logo" src="../../static/img/logo_B_new.png" alt=" ">
      </div>
      <div class="nothing"></div>
    </div>
    <div class="section">
      <div class="title">로그인</div>
      <div class="input">
        <form id="login" action="#">
          <div class="email-caption">이메일</div>
          <input id="email-inputbox" class="inputbox" type="email" />
          <div class="pw-caption">비밀번호</div>
          <input id="pw-inputbox"class="inputbox" type="password">
        </form>
      </div>
      <a href="/login/confirm">
        <button class="login" type="submit">로그인</button>
      </a>
      <ul class="else">
        <li><a href="/login/findPassword">비밀번호&nbsp;찾기</a></li>
        <li>&nbsp;|&nbsp;</li>
        <li><a href="/signUp">회원가입</a></li>
      </ul>
    </div>
    <script src="../../static/js/login/login.js"></script>
  </body>
</html>