<!-- 
  * 작성자 곽수경
* 작성 일자: 11.01
* 수정 일자
* 기능: 회원가입 화면 
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/login/signup.css">
    <title>Better Us Signup</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="#"><img class="home" src="../../static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <img class="logo" src="../../static/img/logo_B_new.png" alt=" ">
      </div>
      <div class="nothing"></div>
    </div>
    <div class="section">
      <div class="left"></div>
      <div class="center">
          <div class="title">회원가입</div>
          <div class="input">
            <div class="email-caption">이메일</div>
            <input class="inputbox" type="email">
          </div>
          <div class="input">
            <div class="nickname">닉네임</div>
            <input class="inputbox" type="password">
          </div>
          <div class="input">
            <div class="pw-caption">비밀번호</div>
            <input class="inputbox" type="email">
          </div>
          <div class="input">
            <div class="pwcheck-caption">비밀번호확인</div>
            <input class="inputbox" type="email">
          </div>
          <div class="login-button">
            <button type="submit">가입하기</button>
          </div> 
      </div>
      <div class="right">
        <div class="button">
          <div class="email-button">
            <button type="submit">이메일&nbsp;인증</button>
          </div>
          <div class="nickname-button">
            <button type="submit">중복&nbsp;확인</button>
          </div>
      </div>
      </div>
    </div>
  </body>