 /* 
* 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자: 10.29
* 기능: 전체 글 화면 css  
*/


*{
  font-family: 'Pretendard';
  /* font-family: 'Noto Sans KR', sans-serif; */
}

span {
  font-family: 'Pretendard';
}

a {
  font-family: 'Pretendard';
}

div {
  font-family: 'Pretendard';
}

/*-------------------------- header---------------------------- */
.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgb(103, 103, 103);
}

.home{
  width: 33.3vw;
  /* background-color: red; */
}

img.home {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.logo {
  text-align: center;
  width: 33.4vw;
  /* background-color: orange; */
}

img.logo {
  width: 150px;
  height: 50px;
}

.nothing {
  width: 33.3vw;
  /* background-color: yellow; */
}
/*-------------------------- header---------------------------- */


.section{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
} 

.snothing{
  width: 20vw;
}

.article{
  display: flex;
  text-align: center;
  margin-top: 30px;
  width: 60vw;
  height: 100px;
}

.image img {
  width: 100px;
  height: 100px;
}

.notimage{
  display: block;
  text-align: left;
  width: 700px;
}

.title{
  font-size: 30px;
  font-weight: 600;
  height: 30px;
}

.content{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 600;
  height: 30px;
}

.else{
  display: flex;
}

.image{
  width: 100px;
  height: 100px;
}

.icon {
  width: 30px;
  height: 30px;
}

.numOf {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 20px;
}
/* .searching {
  margin-top: 50px;
}

.searching > form > input{
  border: none;
  width: 250px;
  height: 40px;
  background: (0,0,0,0);
  padding-left: 10px;
  border-bottom: 2px solid black;
}

.searching > form > input:focus{
   outline: none;
}


img.search {
  width: 30px;
  height: 30px;
}

button.search {
  border: none;
  background-color: white;
}  */

