<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mainPage</title>

    <link rel="stylesheet" href="../../static/css/main/main.css" />
    <link rel="stylesheet" href="../../static/css/main/reset.css" />
    <link rel="stylesheet" href="../../static/css/main/editorPic.css" />
    <link rel="stylesheet" href="../../static/css/main/writers.css" />
    <link rel="stylesheet" href="../../static/css/main/options.css" />
    <script defer src="../../static/js/main/slide.js"></script>
    <script defer src="../../static/js/main/options.js"></script>
    <script defer src="../../static/js/main/sidebar.js"></script>
    <script defer src="../../static/js/main/keywords.js"></script>
    <script defer src="../../static/js/main/writers.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam&family=Merriweather:wght@700&family=Montserrat:wght@300;400&family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <main class="side-bar" style="left: -260px">
        <div class="side-bar-top">
          <span
            ><img src="../../static/img/betterUsCircleLogo.png" alt="logo"
          /></span>
          <p>
            The Story of
            <br />
            Being Better
          </p>
          <div>Start Better US</div>
        </div>
        <div class="side-bar-bottom">
          <ul>
            <li class="currentPage">better US Home</li>
            <li>better US Now</li>
            <li>better US Library</li>
          </ul>
          <div class="side-bar-user-guide">계정을 잊어버리셨습니까?</div>
        </div>
      </main>
      <main class="start" style="display: none">
        <div class="start-container">
          <div class="start-content start-left">
            <div class="start-logo">
              <a class="home" href="/">
                <img
                  src="../../static/img/betterUsCircleLogo.png"
                  alt="betterUs"
                />
              </a>
            </div>
          </div>
          <div class="start-content start-right">
            <div class="start-exit">
              <i class="fa-solid fa-x fa-xl"></i>
            </div>
            <div class="start-login">
              <strong class="start-txt">betterUs 시작하기</strong>
              <div class="startBtn email-login">이메일로 로그인</div>
            </div>
            <div class="start-search">
              <span class="search-txt">내 betterUs 계정 찾기</span>
              <div class="startBtn id-seach">
                내 betterUs 이메일 계정을 모르겠어요
              </div>
              <div class="startBtn ps-search">
                내 betterUs 비밀번호를 모르겠어요
              </div>
              <span class="login-help">로그인 관련 상세 도움말</span>
            </div>
          </div>
        </div>
      </main>
      <main class="search" style="display: none">
        <div class="header__content-left">
          <i class="fa-solid fa-bars fa-xl"></i>
          <img src="../../static/img/betterUsLogo.png" alt="logo" />
        </div>
        <div class="search-exit">
          <i class="fa-solid fa-x fa-xl"></i>
        </div>
        <div class="search-container">
          <div class="search-form">
            <input type="text" class="search-line" placeholder="검색어를 입력해 주세요."></input>
          </div>
          <div class="search-content">
            <h3 class="subheading_title">나를 키우는 힘, 작가들의 <blue>자기계발</blue> 이야기</h3>
            <div class="writers-categories">
              <div class="writers-category">강사</div>
              <div class="writers-category">출간작가</div>
              <div class="writers-category">성공</div>
            </div>
             <div class="search-writers">
              <div class="writer">
                <img src="../../static/img/writer-profile.jpg" alt="" />
                <div class="wrtier-name">방곰</div>
                <div class="wrtier-txt">
                  둘이 만나 지구 한바퀴. 영국에서 태어나...
                </div>
              </div>
              <div class="writer">
                <img src="../../static/img/writer-profile.jpg" alt="" />
                <div class="wrtier-name">방곰</div>
                <div class="wrtier-txt">
                  둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                  잘나...
                </div>
              </div>
              <div class="writer">
                <img src="../../static/img/writer-profile.jpg" alt="" />
                <div class="wrtier-name">방곰</div>
                <div class="wrtier-txt">
                  둘이 만나 지구 한바퀴. 영국에서 태어나 도미니...
                </div>
              </div>
              <div class="writer">
                <img src="../../static/img/writer-profile.jpg" alt="" />
                <div class="wrtier-name">방곰</div>
                <div class="wrtier-txt">
                  둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국...
                </div>
              </div>
              <div class="writer">
                <img src="../../static/img/writer-profile.jpg" alt="" />
                <div class="wrtier-name">방곰</div>

                <div class="wrtier-txt">
                  둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                  ...
                </div>
              </div> 
            </div>
            
          </div>
        </div>
      </main>
      <header class="header">
        <div class="header__top">
          <div class="header__content">
            <div class="header__content-left">
              <i class="fa-solid fa-bars fa-xl"></i>
              <img src="../../static/img/betterUsLogo.png" alt="logo" />
            </div>
            <div class="header__content-right">
              <p>시작하기</p>
              <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <article class="article__intro">
          <h3>
            성장하는 우리, better Us<span
              ><img src="../../static/img/betterUsCircleLogo.png"
            /></span>
          </h3>

          <p>
            <span>하루하루 나아지는 우리, better Us에서 함께 성장하세요.</span>
            <span>기록하세요.</span>
            <span>매 순간을 의미있는 시간으로 만들기 위해</span>
          </p>
        </article>
        <article class="editor__pic">
          <div class="wrap_slide">
            <ul class="slides">
              <li class="type1">
                <div class="article type1-article1">
                  <img src="../../static/img/food.jpg" alt="" />
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-content">
                      살려고 먹는 사람이 제일 신기한,<br />먹으려고 사는
                      사람입니다. 20대까지만...
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type1-article2">
                  <div class="article-info">
                    <div class="article-title short">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type1-article3">
                  <div class="article-info">
                    <div class="article-title short">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
              </li>
              <li class="type2">
                <div class="type2-article1">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-content">
                      살려고 먹는 사람이 제일 신기한,<br />먹으려고 사는
                      사람입니다. 20대까지만...
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type2-article2">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-content">
                      살려고 먹는 사람이 제일 신기한,<br />먹으려고 사는
                      사람입니다. 20대까지만...
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type2-article3">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-content">
                      살려고 먹는 사람이 제일 신기한,<br />먹으려고 사는
                      사람입니다. 20대까지만...
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
              </li>
              <li class="type3">
                <div class="type3-article1">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type3-article2">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type3-article3">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type3-article4">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
              </li>
              <li class="type4">
                <div class="type4-article1">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-content">
                      살려고 먹는 사람이 제일 신기한,<br />먹으려고 사는
                      사람입니다. 20대까지만...
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type4-article2">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type4-article3">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
              </li>
              <li class="type5">
                <div class="type5-article1">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고 압력밥솥을 샀다
                    </div>
                    <div class="article-content-type1">
                      살려고 먹는 사람이 제일 신기한, 먹으려고 사는 사람입니다.
                      20대까지만...
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type5-article2">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type5-article3">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-author"><icon>by</icon>파랑</div>
                  </div>
                </div>
                <div class="type5-article4">
                  <div class="article-info">
                    <div class="article-title">
                      명품백을 포기하고<br />압력밥솥을 샀다
                    </div>
                    <div class="article-content">
                      살려고 먹는 사람이 제일 신기한,<br />먹으려고 사는
                      사람입니다. 20대까지만...
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="wrap_slide__index">
            <div value="0" class="emphasis">01</div>
            <div value="1">02</div>
            <div value="2">03</div>
            <div value="3">04</div>
            <div value="4">05</div>
          </div>
          <div class="slide__btns">
            <div
              class="slide__btn slide__btn-left editor__pic-btn slide__btn-disappear"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="slide__btn slide__btn-right editor__pic-btn">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </article>
        <article class="keywords">
          <h3 class="subheading_title">BETTERUS KEYWORDS</h3>
          <p class="subheading_intro">키워드로 분류된 다양한 글 모음</p>
          <div class="keyword_space">
            <div class="keyword_big-box"></div>
          </div>
        </article>
        <article class="writers">
          <h3 class="subheading_title">BETTERUS WRITERS</h3>
          <p class="subheading_intro">브런치 추천 작가</p>
          <div class="writers-categories">
            <div class="writers-category current-category">경제적 자유</div>
            <div class="writers-category">자기계발</div>
            <div class="writers-category">행복</div>
          </div>
          <div class="writer-profile-boxes">
            <div class="writer-profile-box current-box">
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구. 영국에서 태어나 도미니카공화국에서 잘나
                    짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
            </div>
            <div class="writer-profile-box">
              <li><div class="writer"></div></li>
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
            </div>
            <div class="writer-profile-box">
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
              <li><div class="writer"></div></li>
              <li>
                <div class="writer">
                  <img src="../../static/img/writer-profile.jpg" alt="" />
                  <div class="wrtier-name">방랑곰</div>
                  <div class="wrtier-job">프리랜서</div>
                  <div class="wrtier-txt">
                    둘이 만나 지구 한바퀴. 영국에서 태어나 도미니카공화국에서
                    잘나 짝꿍과 함께 살고있는 방랑곰
                  </div>
                  <div class="writer-categories">
                    <div class="writer-category">여행</div>
                    <div class="writer-category">에세이</div>
                    <div class="writer-category">...</div>
                  </div>
                </div>
              </li>
              <li><div class="writer"></div></li>
              <li><div class="writer"></div></li>
            </div>
          </div>
          <div class="writer_space">
            <div class="writer_big-box"></div>
          </div>
        </article>
        <div class="banner">
          <img src="../../static/img/banner.jpg" alt="" />
        </div>
        <article class="recmmnded-articles">
          <h3 class="subheading_title">RECOMMENDED ARTICLES</h3>
          <p class="subheading_intro">BETTER US의 다양한 글을 만나보세요.</p>
          <div class="recmmnded-articles-box">
            <div class="recmmnded-articles-slides">
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
              <li>
                <img src="../../static/img/food.jpg" alt="" />
                <div class="recmmnded-article-title">파주 맛집 털이</div>
                <div class="recmmnded-article-txt">
                  2주간의 짧은 다이어트를 끝내고, 먹고 싶었던 것들을 왕창 먹으며
                  보내고 있는 요즘입니다. 24kg에서 19kg로 5kg 감량 후 바뀐
                  앞자리를 약 1주간 유지하고 있는데요. (당연히 10의 자리에는
                  다른 숫자가 들어갑니다. 이해를 돕기 위한... 몸무게는
                  비밀이에요!ㅋㅋ) 슬슬 치팅은 끝내고 이대로 유지를 해볼까
                  합니다... 후후. 1인가구 매거진에 식
                </div>
                <div class="recmmnded-article-author">
                  <icon>by</icon>북이슬
                </div>
              </li>
            </div>
          </div>
          <div class="slide__btns">
            <div
              class="slide__btn slide__btn-left recmmnded-articles-btn slide__btn-disappear"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="slide__btn slide__btn-right recmmnded-articles-btn">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </article>
      </main>
      <footer class="footer">
        <div class="inner_footer">
          <div class="footer-info">
            <div class="writing">
              <img src="../../static/img/betterUsCircleLogo.png" alt="logo" />
              <p>The Story of<br />Being Better</p>
            </div>
            <div class="policy"></div>
          </div>
          <div class="footer-corp"></div>
        </div>
      </footer>
    </div>
  </body>
</html>
