* {
  font-family: 'Pretendard';
  /* font-family: 'Noto Sans KR', sans-serif; */
}

body {
  width: 100vw;
  height: 100vh;
}

div {
  font-family: 'Pretendard';
}

a {
  font-family: 'Pretendard';
  text-decoration: none;
  color: black;
}

/*-------------------------- section---------------------------- */

.section {
  /* width: 100vw; */
  height: 90vh;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* text-align: center; */
}
/*-------------------------- section(left)---------------------------- */
/* .left {
  width: 15vw;
} */
/*-------------------------- section(left)---------------------------- */

/*-------------------------- section(center)---------------------------- */
.center {
  width: 800px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  margin-top: 15vh;  
  margin-bottom: 40px;
}

.explain {
  font-size: 30px;
  margin-top: 50px;
}

input.inputbox {
  width: 500px;
  height: 45px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.email-button {
  margin-top: 30px;
  margin-bottom: 80px;
}

.email-button>button {
  width: 600px;
  height: 65px;
  font-size: 25px;
  border-radius: 10px;
  color: rgb(91, 84, 126);
  border: 2px solid rgb(170, 170, 170);
  background-color: white;
}
/*-------------------------- section(center)---------------------------- */
/*-------------------------- section(right)---------------------------- */
.right  {
  width: 15vw;
}
/*-------------------------- section(right)---------------------------- */
