<!-- 
* 작성자 곽수경
* 작성 일자: 10.22
* 수정 일자
* 기능: 전체 글 화면 
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/article/articles.css">
    <title>Better Us Writings</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="#"><img class="home" src="../..//static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <img class="logo" src="../..//static/img/logo_B_new.png" alt=" ">
      </div>
      <div class="nothing"></div>
    </div>
      <div class="section">
        <div class="snothing"></div>
        <div class="article">
          <div class="notimage">
            <div class="letter">
              <div class="title">2022 SW 마이스터고 연합 토크콘서트 강연후기</div>
              <div class="content">벨로그에 글을 쓰기 시작한 이후로 강연 뿐만이 아니라 다양한 분야에서 요청들을 받고있다. 내가 뭐라고 이렇게 찾아주시니 감사할 따름</div>
            </div>
            <div class="else">
              <div class="review"><img class="icon" src="../..//static/img/review.png"></div>
              <div class="numOf">7</div>              
              <div class="like"><img class="icon" src="../..//static/img/like.png"></div>
              <div class="numOf">7</div>              
            </div>
            <hr/>
        </div>
          <div class="image">
            <img src="../..//static/img/just.png">
            <hr>
          </div>
        </div>
        <div class="snothing"></div>
      </div>
  </body>
</html>