<!-- 
* 작성자 곽수경
* 작성 일자: 11.10
* 수정 일자
* 기능: 작가 시리즈
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/article/writerPage(series).css">
    <title>Better Us Writer Series</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="#"><img class="home" src="../..//static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <img class="logo" src="../..//static/img/logo_B_new.png" alt=" ">
      </div>
      <div class="nothing"></div>
    </div>
      <div class="section">
        <div class="section-box">
          <div class="writer-intro">
            <div class="intro-left">
              <div class="name">독자1</div>
              <div class="intro">경제적 자유를 꿈꾸는 대학생입니다.</div>
              <span class="people">구독자</span><span class="people-num">9</span>
              <span class="people">관심작가</span><span class="people-num">10</span>
            </div>
            <div class="intro-right">
              <img src="../../static/img/profile.png" />
            </div>
          </div>
          
          <div class="twoTitle">
            <a href="#"><div id="first" class="choice">글</div></a>
            <a href="#"><div id="second" class="choice">시리즈</div></a>
          </div>
          <div class="Series">
            <div class="three">
            <div class="series">
              <div class="nothing"></div>
              <div class="middle">
                <img id="represent" src="../../static/img/main_bg3.jpg" />
                <div class="series-title">강의 후기</div>
                <img id="like" src="../../static/img/like.png" />
                <div class="like-num">7</div>
                <div class="update"><br>최근 업데이트&nbsp;</div><div id ="num" class="update">4</div><div class="update">일전</div>
              </div>
              <div class="nothing"></div>
            </div>
            <div class="series"></div>
            <div class="series"></div>
          </div>
         </div>
      
    </div>
  </body>
</html>