body {
  height: 100%;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 353px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
}
.header__top {
  height: 40px;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px 0;
}
.header__content-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content-left i {
  margin-right: 20px;
  cursor: pointer;
}
.header__content-left img {
  cursor: pointer;
}
.header__content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content-right i {
  margin-left: 20px;
  cursor: pointer;
}
.header__content-right p {
  font-size: 10px;
  color: #333;
  border: 1px solid #333;
  padding: 0.8em 1.2em;
  border-radius: 15px;
  cursor: pointer;
}

.main {
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.article__intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 960px;
  font-family: "Nanum Myeongjo", sans-serif;
}
.article__intro h3 {
  margin: 0 auto;
  width: 960px;
  font-size: 40px;
}
.article__intro h3 img {
  margin-left: 10px;
}
.article__intro p span {
  display: block;
  font-size: 32px;
  margin-top: 0.5em;
  color: #cacaca;
}
.article__intro p span:nth-child(3) {
  opacity: 0.7;
  margin-bottom: 70px;
}

.emphasis {
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.5); */
  font-size: 13px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.keywords {
  margin: 0;
  text-align: center;
}
.subheading_title {
  margin: 200px auto 0;
  width: 960px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.3em;
}
.subheading_intro {
  width: 960px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 13px;
  margin: 20px auto 0;
  color: rgba(0, 0, 0, 0.5);
}
.keyword_space {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}
.keyword_big-box {
  width: 960px;
  height: 363px;
  margin-top: 46px;
  position: relative;
}
.keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  font-size: 14px;
  height: 119px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  width: 119px;
  z-index: 1;
  font-size: 13px;
  cursor: pointer;
}
.keyword span {
  font-family: "Nanum Gothic", sans-serif;
}
.keyword:hover {
  border: 1px solid #758ecd;
  color: #758ecd;
}

.banner {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 200px;
}

.banner img {
  display: block;
  width: 720px;
  border-radius: 10px;
  margin: 0 auto;
}

.recmmnded-articles {
  margin: 0;
  text-align: center;
  position: relative;
}
.recmmnded-articles-box {
  width: 960px;
  height: 605px;
  margin: 43px auto;
}
.recmmnded-articles-slides {
  display: flex;
  width: calc(960px * 7);
  height: 100%;
  transform: translateX(0);
  transition: transform 0.6s;
}
.recmmnded-articles-slides li {
  width: 260px;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.recmmnded-articles-slides img {
  width: 100%;
  margin-bottom: 22px;
}
.recmmnded-article-title {
  color: #333;
  font-size: 16px;
  font-family: "Noto Sans Light", sans-serif;
}
.recmmnded-article-txt {
  color: #959595;
  font-size: 12px;
  font-family: "Noto Sans Light", sans-serif;
  letter-spacing: -0.025em;
  line-height: 20px;
  padding-top: 10px;
  text-align: justify;
}
.recmmnded-article-author {
  padding-top: 22px;
  font-size: 11px;
  font-family: "Noto Sans Light", sans-serif;
  color: #959595;
}
.slide__btn-left.recmmnded-articles-btn {
  z-index: 2;
  top: 250px;
  left: 50px;
}
.slide__btn-right.recmmnded-articles-btn {
  z-index: 2;
  top: 300px;
  right: 50px;
}
.footer {
  width: 100%;
  height: 353px;
  background-color: #101010;
  position: absolute;
  bottom: 0;
}
.inner_footer {
  padding-top: 48px;
  margin: 0 auto;
  width: 960px;
}
.footer-info {
  display: flex;
  margin-bottom: 35px;
}
.writing img {
  margin-bottom: 32px;
}

.writing p {
  color: white;
  width: 120px;
  font-family: "Kalam", cursive;
}

.footer-corp {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-top: 23px;
}
.policy {
  width: 464px;
  margin: 0 auto;
}
