.writers {
  margin-bottom: 100px;
  text-align: center;
  background-color: #fafafa;
  margin-bottom: 250px;
}
.current-category {
  border-color: #758ecd;
  color: #758ecd;
}

.current-box {
  z-index: 10;
}

.writers-categories {
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 43px auto 0;
  font-size: 14px;
}
.writers-category {
  border: 1px solid #eee;
  color: #959595;
  padding: 10px;
  border-radius: 20px;
  margin: 0 3px;
  font-family: "Noto Sans Light", sans-serif;
  cursor: pointer;
}
.writer-profile-boxes {
  margin: 50px auto 85px;
  width: 960px;
  height: 790px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.writer-profile-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.writer-profile-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.3333%;
  height: 49.5%;
  cursor: pointer;
}
.wrtier {
  display: flex;
  flex-direction: column;
  min-height: 288px;
  padding: 46px 40px;
}
.writer img {
  height: 80px;
  margin: 0 auto;
  width: 80px;
  border-radius: 50%;
}
.wrtier-name {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 28px;
  max-height: 57px;
  padding: 17px 12px 0;
  font-family: "Nanum Myeongjo", sans-serif;
}
.wrtier-job {
  font-size: 12px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-top: 8px;
  overflow: hidden;
}
.wrtier-txt {
  font-size: 12px;
  color: #959595;
  font-weight: 300;
  height: 60px;
  line-height: 20px;
  margin-top: 16px;
  width: 160px;
}
.writer-categories {
  display: flex;
  justify-content: center;
}
.writer-category {
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
  font-size: 12px;
  letter-spacing: -1px;
  padding: 4px 10px;
  margin: 43px 10px 0 0;
  text-align: center;
}
