<!-- 
* 작성자 곽수경
* 작성 일자: 11.10
* 수정 일자
* 기능: 마이페이지(서재 수정)
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/myPage/myPage(library).css">
    <title>Better Us My Library</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="/"><img class="home" src="../../static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <a href="/"><img class="logo" src="../../static/img/logo_B_new.png" alt=" "></a>
      </div>
      <ul class="nav">
        <li><a href="/write">글쓰기</a></li>
        <!-- <li><a href="#">마이페이지</a></li> -->
      </ul>
    </div>
      <div class="section">
        <div class="section-box">
          <div class="twoTitle">
            <a href="/myPage/default"><div id="second" class="choice">내&nbsp;정보</div></a>
            <a href="/myPage/default"><div id="first" class="choice">내&nbsp;서재</div></a>
          </div>
          <div class="writer-intro">
            <div class="intro-left">
              <div class="name">독자1</div>
              <div class="intro">경제적 자유를 꿈꾸는 대학생입니다.</div>
              <span class="people">구독자</span><span class="people-num">9</span>
              <span class="people">관심작가</span><span class="people-num">10</span>
            </div>
            <div class="intro-right">
              <img src="../../static/img/profile.png" />
            </div>
          </div>
          
          <div class="twoTitle">
            <a href="/list/infoPage/default"><div id="first" class="choice">글</div></a>
            <a href="/list/infoPage/series"><div id="second" class="choice">시리즈</div></a>
          </div>
          <div class="article">
            <div class="notimage">
              <div class="letter">
                <div class="title">2022 SW 마이스터고 연합 토크콘서트 강연후기</div>
                <div class="content">
                  곳이 맺어, 내려온 가진 부패뿐이다. 산야에 그들은 못할 무한한 구하지 것은 이상이 구할 운다. 갑 보이는 소담스러운 때에, 길을 뿐이다. 생생하며, 수 만물은 가치를 공자는 대한 우리 있는가? 않는 피고 바이며, 스며들어 생의 것이 싸인 봄바람이다. 두기 인간이 천고에 같지 우리의 설레는 것이다. 많이 얼음에 이상은 이상을 아니다. 얼음 바이며, 위하여 같이, 방지하는 피다. 청춘의 같이, 그들은 날카로우나 놀이 있는 그러므로 얼마나 가장 피다.
                  
                  눈이 내는 무엇을 이상 곧 아니다. 청춘에서만 찾아 사랑의 놀이 얼마나 같지 위하여서. 동산에는 타오르고 것은 살 곧 것이다. 하여도 밥을 있는 아니한 불어 힘있다. 든 들어 커다란 구하지 맺어, 충분히 설산에서 영락과 청춘의 것이다. 풀이 천지는 위하여 오아이스도 봄바람을 날카로우나 부패뿐이다. 이상 창공에 얼음 것은 눈에 있다. 안고, 남는 열락의 가치를 있을 봄바람이다. 이상, 열락의 가진 두기 피에 못하다 인생의 위하여 끓는다. 보내는 찬미를 동산에는 할지라도 구하지 보이는 철환하였는가? 그들의 하였으며, 굳세게 꽃이 아니더면, 내는 봄바람이다.</div>
              </div>
              <div class="else">
                <div class="review"><img class="icon" src="../..//static/img/review.png"></div>
                <div class="numOf">7</div>              
                <div class="like"><img class="icon" src="../..//static/img/like.png"></div>
                <div class="numOf">7</div>              
              </div>
          </div>
            <div class="image">
              <img src="../..//static/img/just.png">
            </div>
          </div>
          <div class="article">
            <div class="notimage">
              <div class="letter">
                <div class="title">2022 SW 마이스터고 연합 토크콘서트 강연후기</div>
                <div class="content">
                  곳이 맺어, 내려온 가진 부패뿐이다. 산야에 그들은 못할 무한한 구하지 것은 이상이 구할 운다. 갑 보이는 소담스러운 때에, 길을 뿐이다. 생생하며, 수 만물은 가치를 공자는 대한 우리 있는가? 않는 피고 바이며, 스며들어 생의 것이 싸인 봄바람이다. 두기 인간이 천고에 같지 우리의 설레는 것이다. 많이 얼음에 이상은 이상을 아니다. 얼음 바이며, 위하여 같이, 방지하는 피다. 청춘의 같이, 그들은 날카로우나 놀이 있는 그러므로 얼마나 가장 피다.
                  
                  눈이 내는 무엇을 이상 곧 아니다. 청춘에서만 찾아 사랑의 놀이 얼마나 같지 위하여서. 동산에는 타오르고 것은 살 곧 것이다. 하여도 밥을 있는 아니한 불어 힘있다. 든 들어 커다란 구하지 맺어, 충분히 설산에서 영락과 청춘의 것이다. 풀이 천지는 위하여 오아이스도 봄바람을 날카로우나 부패뿐이다. 이상 창공에 얼음 것은 눈에 있다. 안고, 남는 열락의 가치를 있을 봄바람이다. 이상, 열락의 가진 두기 피에 못하다 인생의 위하여 끓는다. 보내는 찬미를 동산에는 할지라도 구하지 보이는 철환하였는가? 그들의 하였으며, 굳세게 꽃이 아니더면, 내는 봄바람이다.</div>
              </div>
              <div class="else">
                <div class="review"><img class="icon" src="../..//static/img/review.png"></div>
                <div class="numOf">7</div>              
                <div class="like"><img class="icon" src="../..//static/img/like.png"></div>
                <div class="numOf">7</div>              
              </div>
          </div>
            <div class="image">
              <img src="../..//static/img/just.png">
            </div>
          </div>
      </div>
      
    </div>
  </body>
</html>