<!-- 
  * 작성자 곽수경
* 작성 일자: 11.01
* 수정 일자
* 기능: 마이페이지(회원정보) 화면 
-->

<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../../static/css/myPage/mypage(info).css">
    <title>Better Us Mypage(회원정보)</title>
  </head>
  <body>
    <div class="header">
      <div class="home">
        <a href="#"><img class="home" src="../../static/img/home.png" alt=" "></a>
      </div>
      <div class="logo">
        <img class="logo" src="../../static/img/logo_B_new.png" alt=" ">
      </div>
      <div class="nothing"></div>
    </div>
    <div class="section">
      <div class="left"></div>
      <div class="center">
          <div class="title">
            <a href="/myPage/default"><div id="first" class="choice">내&nbsp;정보</div></a>
            <a href="/myPage/default"><div id="second" class="choice">내&nbsp;노트</div></a>
          </div>
          <div class="input-total">
            <div class="input-title">
              <div id="state" class="input-subtitle">회원&nbsp;상태</div>
              <div id="info" class="input-subtitle">회원정보&nbsp;수정</div>
              <div id="out" class="input-subtitle">회원&nbsp;탈퇴</div>
            </div>
            <div class="input-box">
              <div class="state">독자</div>
              <div class="input">
                <form>
                  <div class="changing">닉네임&nbsp;변경</div>
                  <input class="inputbox" type="text" placeholder="변경할 닉네임">
                  <div class="changing">소개글&nbsp;변경</div>
                  <input class="inputbox" type="text" placeholder="소개글 입력">
                  <div class="changing">비밀번호&nbsp;변경</div>
                  <input class="inputbox" type="password" placeholder="현재 비밀번호">
                  <input class="inputbox" type="password" placeholder="변경할 비밀번호">
                  <input class="inputbox" type="password" placeholder="변경할 비밀번호 확인">
                  <a href="#"><button type="submit">수정하기</button></a>

                </form>
              </div>
              <div class="login-button">
                <a><button type="submit">회원&nbsp;탈퇴하기</button></a>
              </div> 
          </div>   
        </div>
      </div>
      <div class="right">
        <div class="button">
          <div class="nickname-button">
            <a href="/signUp/duplicateNickName"><button type="submit">중복&nbsp;확인</button></a>
          </div>
      </div>
      </div>
    </div>
  </body>