<!--
* 작성자 곽수경
* 작성 일자: 11.10
* 수정 일자
* 기능: 마이페이지(서재 수정)
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/myPage/myPage(library).css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Better Us My Library</title>
    <script th:inline="javascript">
       $(document).ready(function() {
        let message = [[${msg}]];
        if (message != null) {
            alert(message);
        }
        });
    </script>
</head>
<body>
<div class="header">
    <div class="home">
        <a href="/"><img class="home" src="/img/home.png" alt=" "></a>
    </div>
    <div class="logo">
        <a href="/"><img class="logo" src="/img/logo_B_new.png" alt=" "></a>
    </div>
    <ul class="nav">
        <li><a th:if="${articleCount} >= 1 and ${applicationCheck} != true" th:href="@{/list/myPage/authorApplication}">작가 신청</a></li>
        <li><a th:if="${session.member == memberDto.id}" href="/write">글쓰기</a></li>
    </ul>
</div>
<div class="section">
    <div class="section-box">
        <div class="twoTitle">
            <a href="#" th:href="@{/editInfo/{memberId}/edit (memberId=${session.member})}">
                <div id="first" class="choice">내&nbsp;정보</div>
            </a>
            <a href="/myPage/default">
                <div id="second" class="choice">내&nbsp;노트</div>
            </a>
        </div>
        <div class="writer-intro">
            <div class="intro-left">
                <div class="name" th:text="${memberDto.nickName}"></div>
                <div class="intro" th:if="${memberDto.user_info != null}" th:text="${memberDto.user_info}"></div>
                <div class="intro" th:if="${memberDto.user_info == null}">아직 자기소개 작성을 하지않았습니다.</div>
                <span class="people">구독자</span><span class="people-num" th:text="${memberDto.gudok_count}"></span>
                <span class="people">관심작가</span><span class="people-num" th:text="${memberDto.gudokForCount}"></span>
            </div>
            <div class="intro-right">
                <img src="/img/profile.png"/>
            </div>
        </div>
        <div class="article" th:each="article : ${articleDtoList}">
            <div class="notimage">
                <div class="letter">
                    <a th:href="@{/list/article/{articleId} (articleId=${article.id})}">
                        <div class="title" th:text="${article.title}"></div>
                    </a>
                    <div class="content" th:text="${article.contents}"></div>
                </div>
                <div class="else">
                    <div class="review"><img class="icon" src="/img/review.png"></div>
                    <div class="numOf" th:text="${article.reviewCount}"></div>
                    <div class="like"><img class="icon" src="/img/like.png"></div>
                    <div class="numOf" th:text="${article.jjimCount}"></div>
                </div>
            </div>
            <div class="image">
<!--                <img th:if="${article.imageFullPath != null}" th:src="@{${article.imageFullPath}}">-->
                <img src="/img/just.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>